* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 40px;
}

h2 {
  margin-top: 30px;
}

[class^="box-header"]{
  float: left;
  padding: 1px;
  background: grey;
  border: 1px solid #000;
  text-align: center;
}


.box-header{
  width: 100%;
}

[class^="box-sidebar"]{
  float: left;
  padding: 1px;
  background: grey;
  border: 1px solid #000;
  text-align: center;
}

.box-sidebar {
    width: calc((100% / 12) * 4);
  }

  [class^="box-main"]{
    float: left;
    padding: 1px;
    background: grey;
    border: 1px solid #000;
    text-align: center;
  }

  .box-main{
    width: calc((100% / 12) * 8);
  }

  [class^="box-footer"]{
    float: left;
    padding: 1px;
    background: grey;
    border: 1px solid #000;
    text-align: center;
  }

  .box-footer {
    width: 100%;
  }
